body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  }

.game-cover {
    margin-top: -100px;
    background-color: #fff;
    border-radius: 25px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
    


  .start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

  }

 

